Author: María Cabello Toscano (mariadelrociocabello@gmail.com)

In this notebook, data from KEGG database is downloaded through the use of KEGG oficial API. Here, a tutorial to use it is provided: 
http://www.kegg.net/api/api_tutorial.html

In [16]:
import pandas as pd

# KEGG GENE - Homo sapiens

In [17]:
%%time

import requests

url = 'http://rest.kegg.jp/list/hsa'
hsa_request = requests.get(url, allow_redirects=True)
open('../KEGG_data/KEGG_gene_hsa.csv', 'wb').write(hsa_request.content)
del hsa_request

CPU times: user 36.5 ms, sys: 22.1 ms, total: 58.6 ms
Wall time: 5.73 s

In [18]:
pd.read_csv('../KEGG_data/KEGG_gene_hsa.csv', sep='\t'  , engine='python', header=None)

                   0                                                  1
0      hsa:100526771  SMIM35, TMPRSS4-AS1; small integral membrane p...
1      hsa:100302174  MIR1307, MIRN1307, hsa-mir-1307, mir-1307; mic...
2      hsa:100423038                  MIR466, hsa-mir-466; microRNA 466
3      hsa:100616498                   MIR378E, mir-378e; microRNA 378e
4      hsa:100302153     MIR1298, MIRN1298, hsa-mir-1298; microRNA 1298
...              ...                                                ...
22348       hsa:4541   ND6, MTND6, MT-ND6; NADH dehydrogenase subunit 6
22349       hsa:4556                        TRNE, MTTE, MT-TE; tRNA-Glu
22350       hsa:4519                  CYTB, MTCYB, MT-CYB; cytochrome b
22351       hsa:4576                  TRNT, MTTT, MT-TT, LIMM; tRNA-Thr
22352       hsa:4571                        TRNP, MTTP, MT-TP; tRNA-Pro

[22353 rows x 2 columns]

# KEGG Brite

In [19]:
%%time

import requests

url = 'http://rest.kegg.jp/get/br:br08902'
brite_request = requests.get(url, allow_redirects=True)
open('../KEGG_data/KEGG_brite_groups.txt', 'wb').write(brite_request.content)
del brite_request

CPU times: user 3.78 ms, sys: 1.53 ms, total: 5.3 ms
Wall time: 201 ms

In [20]:
brite = pd.DataFrame(columns=['Functional Annotation Group','Functional Annotation Subgroup','keggBriteId','Functional Annotation'])
with open('../KEGG_data/KEGG_brite_groups.txt', 'r') as f:
    i = 0
    j = 0
    lines = f.readlines()
    n_lines = len(lines)
    while(i<n_lines):
        if(lines[i][0:1]=='A'):
            A = lines[i][1:-1]
            i+=1 # next line
            while(i<n_lines and lines[i][0:1]!='A'):
                if(lines[i].split('  ')[0]=='B'):
                    B = lines[i].split('  ')[1][:-1]
                    i += 1 # next line
                    while(i<n_lines and lines[i].split('    ')[0]=='C'):
                        C = lines[i].split('    ')[1][:-1]
                        brite.loc[j] = [A, B, C.split("  ")[0][3:], C.split("  ")[1]]
                        j+=1
                        i += 1 # next line 
                else: i+=1
        else: i+=1 # next line

In [21]:
brite.to_csv('../KEGG_data/KEGG_brite.csv')

In [22]:
pd.read_csv('../KEGG_data/KEGG_brite.csv')

,Unnamed: 0,Functional Annotation Group,Functional Annotation Subgroup,keggBriteId,Functional Annotation
0,0,Pathway and Brite,Pathway maps,8901,KEGG pathway maps
1,1,Pathway and Brite,Brite files,8902,BRITE hierarchy files
2,2,Pathway and Brite,Brite files,8904,BRITE table files
3,3,Genes and Proteins,"Orthologs, modules and networks",0001,KEGG Orthology (KO)
4,4,Genes and Proteins,"Orthologs, modules and networks",0002,KEGG modules
...,...,...,...,...,...
101,101,Organisms and Cells,Organisms,8602,Animal classification
102,102,Organisms and Cells,Organisms,8603,Plant classification
103,103,Organisms and Cells,Organisms,8605,Plant pathogens
104,104,Organisms and Cells,"Cells, tissues, and organs",8501,Human organ systems
105,105,Organisms and Cells,"Cells, tissues, and organs",8502,Human cells

# KEGG hsa-brite

In [23]:
%%time

import requests

url = 'http://rest.kegg.jp/link/hsa/brite'
hsa_brite_request = requests.get(url, allow_redirects=True)
open('../KEGG_data/KEGG_hsa_brite.csv', 'wb').write(hsa_brite_request.content)
del hsa_brite_request

CPU times: user 19.3 ms, sys: 4.04 ms, total: 23.3 ms
Wall time: 2.23 s

In [24]:
pd.read_csv('../KEGG_data/KEGG_hsa_brite.csv', sep='\t'  , engine='python', header=None)

                 0           1
0      br:hsa00001    hsa:3101
1      br:hsa00001    hsa:3098
2      br:hsa00001    hsa:3099
3      br:hsa00001   hsa:80201
4      br:hsa00001    hsa:2645
...            ...         ...
35242  br:hsa04031   hsa:54622
35243  br:hsa04031     hsa:373
35244  br:hsa04031  hsa:285282
35245  br:hsa04031   hsa:64792
35246  br:hsa04031   hsa:58477

[35247 rows x 2 columns]